<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>fsgbu, TrueSaaS POC</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="css/libs/oj/v2.2.0/alta/oj-alta-min.css" rel="stylesheet" type="text/css"/>
        <link href="css/netdna.bootstrapcdn.com_bootstrap_3.0.1_css_bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/netdna.bootstrapcdn.com_bootstrap_3.0.1_css_bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/libs/style.css" rel="stylesheet" type="text/css"/>
    </head>

    <body class="container">
        <nav class="navbar navbar-default navbar-inverse" role="navigation" style="margin-bottom: 2px;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a title="Spring IO" href="https://www.oracle.com/index.html" shape="rect"><img height="80" src="img/img3.jpg" /></a>
                &nbsp;&nbsp;&nbsp;
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                
            </div>
            <!-- /.navbar-collapse -->
        </nav>

    </body>

    <body>
        
        
        <table>
            <tr>
                <td>
                    
        
   
        
        <h1 class="about-develop">Development Notes  </h1><br></br>

        
        <div class="about-level1">
            


            <ul class="about-level">
                <li><a shape="rect" href="http://10.152.173.72:32491/beans">The beans</a></li><br />
                <li><a shape="rect" href="http://10.152.173.72:32491/env">The environment</a></li><br />
                <li><a shape="rect" href="http://10.152.173.72:32491/dump">Thread dump</a></li><br />
                <li><a shape="rect" href="http://10.152.173.72:32491/health">Application health</a></li><br />
                <li><a shape="rect" href="http://10.152.173.72:32491/info">Application information</a></li><br />
                <li><a shape="rect" href="http://10.152.173.72:32491/metrics">Application metrics</a></li><br />
                <li><a shape="rect" href="http://10.152.173.72:32491/trace">Request call trace</a></li><br />
            </ul>
        </div>
                </td>
                
                <td class="more-padding-on-left">
                    <div class="page-header">
                        <h2><u>Reference Implementation-</u> <font size="1.5">The Sample Cloud Application</font></h2>
                    </div>
                            <u><h2>Overview</h2></u> <p> <small>
                            <ul>
                                Sample cloud app to be used to evaluate different technologies as part of project Tech Stack.
                                For proper evaluation purpose, design of the app should be made close to target architecture as much as possible.

                            </ul>
                                    <br />
                                    <br />
                             <h2><u>Reference Implementation Objectives</u></h2>
                            <ul>
                                <li>Developed following 12 factor microservice design principles.</li>
                                <li>Deployed in JCS. </li>
                                <li>Support  dynamic scale out , load balancing ,High Availability.</li>
                                <li>Should serve End to End use case.</li>
                                <li>Use of micro service patterns such as:Circuit Breaker, Cluster Lock, Data Consistency.</li>
                                <li>Should be able to run as Jar/War for OACCS/Bare Metal ( EE/SE).</li>
                                <li>RI should include outcomes of different components of True SaaS project like logging, configuration etc ( EE/SE).</li>
                            </ul>
                        </small></p>
                </td>
            </tr>
        </table>
        </body>
    
        
<br>
           <br /><br /><br /><br /><br />
           
               
        </div> 
        </div> 
        <div class="row">

                <div class="panel panel-default">
                    <!--  <div class="panel-body">Follow Below Buttons for Useful Links.</div>  -->
                    <div class="panel-footer clearfix">
                        <div class="pull-left">
                            <p> <font color="white" size="3"><i><b> Welcome To FSGBU Poplending Cloud Application </b></i></font></p>
                        </div>
                        
                    </div>
                </div>
            </div>


        <!-- Container -->

        
    </body>    
</html>
