<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>

    <head> 
        <title>fsgbu, TrueSaaS POC</title>
        <link href="css/netdna.bootstrapcdn.com_bootstrap_3.0.1_css_bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/netdna.bootstrapcdn.com_bootstrap_3.0.1_css_bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <script src="../libs/require/require.js" type="text/javascript"></script>
        <link href="css/libs/style.css" rel="stylesheet" type="text/css"/> 
        <!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="engine1/style.css" />
<script type="text/javascript" src="engine1/jquery.js"></script>
<!-- End WOWSlider.com HEAD section -->
    </head>

    <body class="container">
        <nav class="navbar navbar-default navbar-inverse" role="navigation" style="margin-bottom: 2px;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a title="Spring IO" href="https://www.oracle.com/index.html" shape="rect"><img height="80" src="img/img3.jpg" /></a>
                &nbsp;&nbsp;&nbsp;
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             </div>
            <!-- /.navbar-collapse -->
        </nav>

    </body>
  
    <body>
                    <div class="row">
                        <div id="float1" style="width:50%;float:left;">
                               <p><img style="height:320px;width:630px" src="img/topology1_1.jpg" class="img-thumbnail" alt="Thumbnail Image" /><p>
                                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        
                         <div id="float3" style="width:50%;float:left;">
                               <p><img style="height:320px;width:690px" src="img/cloud_deve.jpg" class="img-thumbnail" alt="Thumbnail Image" /><p>
                        </div>
                
                        
                    </div> <!--Column right--> 
                    
                   
    </body>                
                       
    <body>
            <table>
                <tr>
                    
                    <td>
                        <!--<a data-bind="click: function(){$root.router.go('development')}, event:{keypress:onEnterLoadPeople}"> --><img src="img/customers.jpg" alt="developers" style="width:630px;height:320px;"> </a>
                        
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <a href="https://www.oracle.com/cloud/index.html">  <img src="img/download (1).png" alt="cloudInfo" style="width:630px;height:290px;"> </a>
                        
                    </td>
                    
                    
                    
                </tr>
            </table>
        
       
        
      </body>

        <body>

       <div class="row">

                <div class="panel panel-default">
                    <!--  <div class="panel-body">Follow Below Buttons for Useful Links.</div>  -->
                    <div class="panel-footer clearfix">
                        <div class="pull-left">
                            <p> <font color="white" size="3"><i><b> Welcome To FSGBU Poplending Cloud Application </b></i></p>
                        </div>
                        
                    </div>
                </div>
            </div>
    
        
       
        
    </body>    
</html> 


        

        
    
