<!DOCTYPE html>
<html>


<h2>Spectacular Mountain</h2>
<img src="pic_mountain.jpg" alt="Mountain View" style="width:304px;height:228px;">
<body class="container">
        <nav class="navbar navbar-default navbar-inverse" role="navigation" style="margin-bottom: 2px;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!--<div class="panel panel-default">
                    <!--  <div class="panel-body">Follow Below Buttons for Useful Links.</div>  -->
                    <div class="panel-footer clearfix">
                        <div class="pull-left">
                            <p> <font color=white size="3"><i><b> Welcome To FSGBU Poplending Cloud Application  </b></i></p>
                        </div>
                        
                        
                  </div>
               <!-- </div>
            <!-- /.navbar-collapse -->
        </nav>

    </body>
    <div style="text-align: right">
                Options:  <a href="javascript:void(0)" style="font-size:18px; color:black;"  data-bind="click:backToPoplending,text:'Home'"></a> | <a href="javascript:void(0)" style="font-size:18px; color:black;" data-bind="click:partyClicked,text:'Party Search'"></a>
            </div>
    <body><footer align="center"><p style="font-size:14px; color:red; font-weight:bold; font-style:italic;">&copy; Copyright Oracle Financial Services Software, 2016-2017</p></footer></body>


</html>