<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>fsgbu, TrueSaaS POC</title>

        <!--  <STYLE TYPE="text/css">
        <!--
        @import url(css/netdna.bootstrapcdn.com_bootstrap_3.0.1_css_bootstrap-theme.min);
       
    </STYLE> -->
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="css/netdna.bootstrapcdn.com_bootstrap_3.0.1_css_bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="css/netdna.bootstrapcdn.com_bootstrap_3.0.1_css_bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/libs/style.css" rel="stylesheet" type="text/css"/>

    </head>
    <body class="container">
        <nav class="navbar navbar-default navbar-inverse" role="navigation" style="margin-bottom: 2px;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a title="Spring IO" href="https://www.oracle.com/index.html" shape="rect"><img height="80" src="img/img3.jpg" /></a>
                &nbsp;&nbsp;&nbsp;
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                
            </div>
            <!-- /.navbar-collapse -->
        </nav>

    </body>
  
       <div id="monitor">
        <h1 class="about-monitor-content">Health Monitoring </h1>


        <ul class="about-monitor">
            <li>Eureka Dashboard: <a href="http://10.252.168.221/" class="about-links-href">"JCS cluster OTD ip :10.252.168.221"</a></li>
            <li> Eureka Dashboard: <a href="http://10.252.171.36/" shape="rect">"JCS cluster OTD ip : 10.252.171.36"</a></li>
            <li>Check applications registered: <a href="http://10.252.171.36/eureka/apps/" shape="rect">http://10.252.171.36/eureka/apps/</a></li>
            <li><a shape="rect" href="http://10.152.173.72:32491/beans" >The beans</a></li> 
            <li><a shape="rect" href="http://10.152.173.72:32491/env">The environment</a></li>
            <li><a shape="rect" href="http://10.152.173.72:32491/dump">Thread dump</a></li>
            <li><a shape="rect" href="http://10.152.173.72:32491/health">Application health</a></li>
            <li><a shape="rect" href="http://10.152.173.72:32491/info">Application information</a></li>
            <li><a shape="rect" href="http://10.152.173.72:32491/metrics">Application metrics</a></li>
            <li><a shape="rect" href="http://10.152.173.72:32491/trace">Request call trace</a></li>

            
            
           
        </ul>
       </div>
    
           
    </body>

        
           <br>
           <br>           
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>           
           <br>
           <br>
           <div style="text-align: right">
            
            
            Options:  <a href="javascript:void(0)" style="font-size:18px; color:black;"  data-bind="click:function(){history.back();},text:'Home'"></a> | <a shape="rect" href="javascript:void(0)" style="font-size:18px; color:black;" data-bind="click:partyClicked,text:'Party Search'"></a>
        <br>
           </div>
        </div> 
        </div> 
       
    
    
    
        <body>

       <div class="row">

                <div class="panel panel-default">
                    <!--  <div class="panel-body">Follow Below Buttons for Useful Links.</div>  -->
                    <div class="panel-footer clearfix">
                        <div class="pull-left">
                            <p> <font color="white" size="3"><i><b> Welcome To FSGBU Poplending Cloud Application </b></i></p>
                        </div>
                        
                    </div>
                </div>
            </div>
    
        
       
        
    </body>    
    </body>    
</html>